body {
  height: 500px; }

.example-block {
  width: 300px;
  height: 400px; }

.rs-base-container {
  position: relative;
  width: inherit;
  height: inherit;
  overflow: hidden; }

.rs-native-scroll {
  width: inherit;
  height: inherit;
  overflow: scroll;
  padding: 0 22px 22px 0; }

.rs-vertical-scroll-bar {
  position: absolute;
  top: 0;
  right: 3px;
  width: 9px;
  height: inherit;
  cursor: pointer;
  background-color: #ddd; }
  .rs-vertical-scroll-bar .rs-toddler {
    position: absolute;
    top: 0;
    width: 9px;
    height: 100px;
    background-color: #999; }
    .rs-vertical-scroll-bar .rs-toddler:hover {
      background-color: #666; }
