
@import "mixins";


.rs-base-container {
  position: relative;
  width: inherit;
  height: inherit;
  overflow: hidden;
}

.rs-native-scroll {
  @include user-select(none);
  @include absolute(0, -22px, -22px, 0);
  overflow: scroll;
}

.rs-content {
  padding-right: 22px;
}

.rs-vertical-scroll-bar {
  @include user-select(none);
  position: absolute;
  top: 0;
  right: 3px;
  width: 9px;
  height: inherit;
  cursor: pointer;
  background-color: #ddd;

  .rs-toddler{
    @include user-select(none);
    position: absolute;
    top: 0;
    width: 9px;
    height: 100px;
    background-color: #999;

    &:hover {
      background-color: #666;
    }
  }

}