

.rs-base-container {
  position: relative;
  width: 300px;
  height: 400px;
  overflow: hidden;
}

.rs-native-scroll {
  width: inherit;
  height: inherit;
  overflow: scroll;
  padding: 0 22px 22px 0;
}

.rs-vertical-scroll-bar {
  position: absolute;
  top: 0;
  right: 3px;
  width: 9px;
  //height: inherit;
  cursor: pointer;
  background-color: #ddd;

  .rs-toddler{
    width: 9px;
    //height: 100px;
    background-color: #999;

    &:hover {
      background-color: #666;
    }
  }

}